@import '@fontsource/fira-mono';

:root {
	font-family: Arial, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
		Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	--font-mono: 'Fira Mono', monospace;
	--pure-white: #ffffff;
	--primary-color: #9eaab6;
	--secondary-color: #d0dde9;
	--tertiary-color: #edf0f8;
	--accent-color: #ff3e00;
	--heading-color: rgba(0, 0, 0, 0.7);
	--header-background-colour: #f46524;
	--text-color: #444444;
	--background-without-opacity: rgba(255, 255, 255, 0.7);
}

body {
	min-height: 100vh;
	margin: 0;
	background-color: var(--primary-color);
	background: linear-gradient(
		180deg,
		var(--primary-color) 0%,
		var(--secondary-color) 10.45%,
		var(--tertiary-color) 41.35%
	);
}

#svelte {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

h1,
h2,
p {
	font-weight: 400;
	color: var(--heading-color);
}

p {
	line-height: 1.5;
}

a {
	color: var(--accent-color);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

h1 {
	font-size: 1.5rem;
	margin-bottom: 0 0 1em 0;
	text-align: center;
}

h2 {
	font-size: 1rem;
}

